/* PART 1 */

#mainTopic{
    color:blue;
}

*{
    text-align: center;
}

h1,h3,h5{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.test{
    color:white;
    background-color: cornflowerblue;
}

div button{
    color:azure;
    background-color: purple;
}

/* PART 2 */

div button:hover{
    color:blue;
    background-color: yellow;
}

p:nth-of-type(2n+1){
    color:yellow;
}

h1::first-letter{
    color:red;
}

#yes:checked + label{
    color:red;
}