*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color:#1b74e4;
}

#search-btn{
    color:white;
    background-color: black;
}

.btns{
    background-color: aqua;
}

/* Descendent selector */