 *{                              /* universal selector */
    font-family: sans-serif;
}

h1,h3{                /*applying properties together */
    color: #b92b27;   
}

/* Id selector */
#login{
    background-color:white;
}

#signup{
    color:white;
    background-color: #b92b27 ;
}

/* Class selector */
.upvote{
    color:red;
    background-color:blanchedalmond;
}

/* Descendent selector */
/* for all the anchor tags in paragraphs */
.test a{
    color:purple;
    background-color:bisque;
}

/* we can choose multiple levels too. */
nav ul li a{
    color:green;
}

/*Sibling combinator*/
p + h3{
    text-decoration: underline;
}

.upvote + button{
    color:blue;
}

/* Child combinator */
div > input{
    color: yellow;
    background-color: salmon;
}

/* Attribute selector */
input[type="password"]{
    color: blue;
}

/* we can even apply this on attribute presence too.. but we won't use this much*/
/* input[type]{
    background-color:aqua;
} */

/* For test case of paragraph */
#myId p{
    color: green;
}

/* Pseudo class */
/* hover */
button:hover{
    background-color: white ;
    color: black;
}

/* same for h3 headings
h3:hover{
    text-decoration:none;
} */

/* active */
button:active{
    background-color: blueviolet;
    color:black;
}

p:active{
    font-weight: bold;
    color: blueviolet;
}

/* checked ->radio buttons or for checkbox */
/* #one:checked+label{
    font-weight: bold;
    color:red;
}

#two:checked+label{
    font-weight: bold;
    color:blue;
} */


/* another way to do this, sibling combinator */
input[type="radio"]:checked + label{
    font-weight:bold;
    color:chartreuse;
}

/* :nth-of-type() */
/* .test:nth-of-type(2n){
    background-color:coral;
}
or a better case */
/* 2n->from the top every 2nd element */
div:nth-of-type(2n){
    background-color:coral;
}